.tour {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 60%;
  padding: 3rem;

  @include respond(tab-land) {
    top: 5%;
    right: 5%;
    width: 80%;
  }

  background-image: linear-gradient(
    to right,
    rgba($color-white, 0.8) 0%,
    rgba($color-white, 0.8) 40%,
    transparent 100%
  );

  @include respond(tab-land) {
    top: 5%;
    right: 5%;
    width: 80%;
    background-image: linear-gradient(
      to right,
      rgba($color-white, 0.95) 0%,
      rgba($color-white, 0.75) 90%,
      transparent 100%
    );
  }

  @include respond(tab-port) {
    top: 15%;
    right: 10%;
    width: 80%;
    padding: 2.7rem;
  }

  @include respond(phone) {
    background-image: linear-gradient(
      to right,
      rgba($color-white, 0.95) 0%,
      rgba($color-white, 0.95) 90%,
      rgba($color-white, 0.9) 100%
    );
  }

  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

  &__header {
    margin-left: 5rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: $color-grey-dark-2;
    letter-spacing: 0.5rem;
    @include respond(tab-port) {
      font-size: 2.8rem;
      letter-spacing: 0.3rem;
      margin-left: 0;
      text-align: center;
    }

    @include respond(phone) {
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
    }
  }

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-3;
    margin: 3rem 0 5rem 0;
    line-height: 1.7;
  }

  &__signup {
    display: block;
    height: 4rem;
    position: absolute;
    margin-top: 3rem;
    bottom: 2rem;
    right: 2rem;
    text-align: center;

    @include respond(tab-port) {
      position: relative;
      margin: 0 auto;
      width: 80%;
      transform: translateX(1rem);
    }
  }
}
